.footer {
    padding: 0.5rem;
    background-color: var(--blue-500);
    text-align: center;
    position: sticky;
    bottom: 0;
    z-index: 9999;
}    

.footer__paragraph {
    color: var(--white);
    display: inline-block;
    padding: 1rem;
}

@media screen and (max-width: 480px) {

    .footer__paragraph {
      font-size: 0.8rem;
      text-align: center;
      padding: 1rem;
    }
  }