header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    flex: 1;
    position: relative;
    background-size: contain;
    background-position: center 80%;
    color: var(--white);
    background-image:url('../assets/images/car/car-home-red.avif');
    background-repeat: no-repeat;
    background-color: black;
}
.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.4;
    width: 30%;
    position: absolute;
    top: 50px;
    left: 50px;
}
.hero__title--large,
.hero__subtitle--medium,
.hero__price,
.hero__description {
    text-align: left;
}
.hero__title--large {
    font-size: 3em;
}
.hero__subtitle--medium {
    font-size: 2em;
}
.hero__price,
.hero__description {
    font-size: 1em;
    margin-top: 1rem;
}
.hero__button {
    margin-top: 2rem;
    width: 8rem;
    align-self: left;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--yellow-600);
    color: var(--black);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s linear;
    text-align: center;
}
.hero__button:hover {
    background-color: #0056B3;
    color: var(--white);
}

@media screen and (max-width: 1000px) {

    .hero__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.4;
        width: 50%;
        position: absolute;
        top: 50px;
        left: 50px;
    }
    .hero__title--large,
    .hero__subtitle--medium,
    .hero__price,
    .hero__description {
        text-align: left;
    }
    .hero__title--large {
        font-size: 3em;
    }
    .hero__subtitle--medium {
        font-size: 2em;
    }
    .hero__price,
    .hero__description {
        font-size: 1em;
        margin-top: 1rem;
    }

  }
  
  @media screen and (max-width: 600px) {
    body {
        overflow: auto;
    }
    .hero {
        background-position: center 75%;
    }

    .hero__text {
        width: 80%;
    }
  }

  @media screen and (max-height: 480px) and (orientation: landscape) {
    body {
        overflow: auto;
    }
    .hero__text {
        line-height: 1.3;
        width: 90%;
        position: absolute;
        top: 10px;
        left: 10px;
    }
  }