main {
  max-width: 1300px;
  min-width: 390px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.product__title {
  text-align: center;
  padding: 3rem;

}

.product__title--header {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.product__title--description {
  font-size: 1.4rem;
}

.product__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.product__selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.product__selection-paragraph {
  font-family: "Roboto Bold";
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.product__selection-dropdown {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
}

.product__label {
  font-family: "Roboto Bold";
}

.product__image {
  width: 65%;
  border: none;
}

.product__image-img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.product__selection-dropdown select {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--gray);
  border: none;
  font-size: 1rem;
}

.product__selection-button {
  margin: 2.5rem 0;
  padding: 10px 20px;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  border-radius: 10px;
  border: none;
  transition: all 0.3s linear;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid var(--black);
}

.product__selection-button:hover {
  background-color: var(--gray);
}

@media screen and (max-width: 1000px) {
  body {
    overflow: auto;
  }

  .product__title--header {
    font-size: 2rem;
  }

  .product__title--description {
    font-size: 1.2rem;
  }

  .product__container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0.5rem;
  }

  .product__selection {
    width: 100%;
  }

  .product__selection-paragraph {
    margin: 2.5rem;
    font-size: 2rem;
  }

  .product__selection-dropdown {
    width: 90%;
  }

  .product__image {
    width: 100%;
    margin-top: 2rem;
  }

  .product__selection-button {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 480px) {
  .product__title {
    padding: 2rem 1rem;
  }

  .product__title--header {
    font-size: 1.8rem;
  }

  .product__title--description {
    font-size: 1rem;
  }

  .product__selection-paragraph {
    font-size: 1rem;
  }

  .product__selection-dropdown {
    width: 100%;
  }

  .product__image {
    width: 100%;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  body {
    overflow: auto;
  }

  .product__title {
    padding: 1rem;
  }

  .product__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }

  .product__selection {
    width: 80%;
  }

  .product__image {
    width: 70%;
  }
}