main {
    max-width: 1300px;
    min-width: 390px;
    font-family: "Roboto Regular", sans-serif;
    display: flex;
    align-items: center;
    margin: 0 auto;

}

.product__heading {
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
}

.gallery {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-bottom: 2rem;
}

.gallery::-webkit-scrollbar {
    height: 0.8rem;
}

.gallery::-webkit-scrollbar-thumb {
    background-color: var(--blue-300);
    border-radius: 0.5rem;
    cursor: pointer;
}

.gallery__image-cell {
    scroll-snap-align: start;
    padding: 0.5rem;
}

.gallery__image-element {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.gallery__image-cell {
    position: relative;
}

.gallery__image-cell::after,
.gallery__image-cell::before {
    color: var(--red-50);
    position: absolute;
    font-size: 3rem;
    opacity: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.gallery__image-cell:last-child::before {
    content: "<";
    left: 2.5rem;
}

.gallery__image-cell:first-child::after {
    content: ">";
    right: 2.5rem;
}

.gallery__image-cell:not(:first-child):not(:last-child)::before {
    content: "<";
    left: 2.5rem;
}

.gallery__image-cell:not(:first-child):not(:last-child)::after {
    content: ">";
    right: 2.5rem;
}